In [41]:
import pandas as pd
from time import time

from sqlalchemy import create_engine

engine = create_engine('postgresql://admin:admin@localhost:5434/ny_taxi')

In [43]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-26 19:29:07--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Распознаётся github.com (github.com)… 140.82.121.4
Подключение к github.com (github.com)|140.82.121.4|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 302 Found
Адрес: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T162907Z&X-Amz-Expires=300&X-Amz-Signature=033ab4689487812f212372a0262196942415574281b7c8595e6ac425f09e5f19&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [переход]
--2023-01-26 19:29:07--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230126T162907Z&X-Amz-Expires=300&X-Amz-Signature=033ab4689487812f212372a0262196942415574281b7c8595e6ac425f09e5f19&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Распознаётся objects.githubusercontent.com (objects.githubusercontent.com)… 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Подключение к objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 11099245 (11M) [application/octet-stream]
Сохранение в: «green_tripdata_2019-01.csv.gz»

green_tripdata_2019 100%[===================>]  10,58M   134KB/s    за 36s

2023-01-26 19:29:44 (302 KB/s) - «green_tripdata_2019-01.csv.gz» сохранён [11099245/11099245]

In [74]:

df = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=10000)

In [ ]:

while True:
    time_start = time()

    _df = next(df)
    
    _df.lpep_pickup_datetime = pd.to_datetime(_df.lpep_pickup_datetime)
    _df.lpep_dropoff_datetime = pd.to_datetime(_df.lpep_dropoff_datetime)
    
    _df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    time_end = time()
    
    print(f'inserted batch {time_start - time_end} seconds' )

In [65]:

!wget 'https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv'

--2023-01-26 19:42:52--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Распознаётся s3.amazonaws.com (s3.amazonaws.com)… 52.217.193.184, 52.217.173.24, 52.216.240.46, ...
Подключение к s3.amazonaws.com (s3.amazonaws.com)|52.217.193.184|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 12322 (12K) [application/octet-stream]
Сохранение в: «taxi+_zone_lookup.csv.1»

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    за 0,001s

2023-01-26 19:42:53 (8,12 MB/s) - «taxi+_zone_lookup.csv.1» сохранён [12322/12322]

In [73]:
 
df_zones = pd.read_csv(r'taxi+_zone_lookup.csv')


df_zones.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265

In [22]:
import os
import pandas as pd
from sqlalchemy import create_engine
import pyarrow.parquet as pr

In [19]:
!wget  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet

--2023-01-25 22:45:17--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet
Распознаётся d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)… 18.165.121.138, 18.165.121.88, 18.165.121.196, ...
Подключение к d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.165.121.138|:443... соединение установлено.
HTTP-запрос отправлен. Ожидание ответа… 200 OK
Длина: 21686067 (21M) [application/x-www-form-urlencoded]
Сохранение в: «yellow_tripdata_2021-01.parquet»

yellow_tripdata_202 100%[===================>]  20,68M  4,41MB/s    за 5,2s

2023-01-25 22:45:22 (3,98 MB/s) - «yellow_tripdata_2021-01.parquet» сохранён [21686067/21686067]

In [21]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [24]:
engine = create_engine('postgresql://admin:admin@localhost:5434')

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime =  pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [38]:
%time
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

CPU times: user 7 µs, sys: 1 µs, total: 8 µs
Wall time: 13.4 µs

769